@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Libertinus Serif';
}

* {
  margin: 0%;
}
*{
  background-color: dimgrey;
}
#titulo {
  width: 100%;
  height: 200px;
  background-color: rgb(89, 97, 221);
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  width: 100%;
  height: 400px;
  display: flex;
}

.primera {
  width: 100%;
  height: 300px;
  background-color: rgb(128, 105, 255);
  margin: auto;
  font-size: 2em;

}


.backup {
  position: fixed;
  bottom: 20px;
  right: 20px;
}