@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Libertinus Serif';
}

* {
  margin: 0%;
}

#titulo {
  width: 100%;
  height: 200px;
  background-color: rgb(102, 0, 153);
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

/*---------imagenes--.----------------------------*/

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/*____________
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/*-.---_-----------------------texto----------------*/
.texto {
  width: 100%;
  height: 300px;
  display: flex;
}

.tituloss {
  font-size: 4em;
  background-color: rgb(102, 0, 153); 
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.primera {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: auto;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.segunda {
  width: 100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: auto;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.tercera {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: auto;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cuarta {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
 margin: auto;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home{
  margin: auto;
  width: 10px;
  height: 20px;
  display: flex;
}
.backup {
  position: fixed;
  bottom: 20px;
  right: 20px;
}